<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree packages</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        #chart-container {
            position: relative;
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="chart-container"></div>
    <script src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="index.js" type="module"></script>
</body>
</html>